body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('WhatsApp-Image-2023-09-28-at-12.50.11-AM.jpg');

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(50, 9, 104, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 30px; /* Add two line spaces (adjust as needed) */
}

span {
    font-weight: bold;
}

/* Add additional CSS styles as needed for formatting */
